/* Original https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card {
  background: var(--theme-card-color);
  width: calc(var(--card-width) * var(--card-unit));
  height: calc(var(--card-height) * var(--card-unit));
  position: relative;
  border-radius: calc(var(--card-border-radius) * var(--card-unit));
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--theme-card);
}

.card::before {
  content: "";
  width: calc(
    (var(--card-width) + var(--card-border-size) * 2) * var(--card-unit)
  );
  height: calc(
    (var(--card-height) + var(--card-border-size) * 2) * var(--card-unit)
  );
  border-radius: calc(
    (var(--card-border-radius) + var(--card-border-size) / 2) * var(--card-unit)
  );
  background-image: linear-gradient(
    var(--rotate),
    var(--theme-card-glow-1),
    var(--theme-card-glow-2),
    var(--theme-card-glow-3)
  );
  position: absolute;
  z-index: -1;
  /* top: var(--card-border-size); */
  /* left: var(--card-border-size); */
  animation: spin calc(var(--card-time) * 1s) linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  filter: blur(calc(var(--card-glow-blur) * var(--card-unit)));
  background-image: linear-gradient(
    var(--rotate),
    var(--theme-card-glow-1),
    var(--theme-card-glow-2),
    var(--theme-card-glow-3)
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin calc(var(--card-time) * 1s) linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
