:root {
	--theme-color: #982c4c;
	--theme-card-color: #191c29;
	--theme-card: rgb(88 199 250 / 0%);
	
	--theme-card-glow-1: #5ddcff;
	--theme-card-glow-2: #3c67e3 43%;
	--theme-card-glow-3: #4e00c2;
}
