:root {
  --card-height: 200;
  --card-width: calc(var(--card-height) * 2);
  --card-glow: 30;
  --card-glow-blur: 50;
  --card-border-size: 6;
  --card-border-radius: 8;
  --card-unit: 1px;
  --card-time: 3;
}
